@charset "UTF-8";
/**
 *	@author Merlin
 */

div#aktuellerNutzerTagContainer {
	display: inline-block;
	absolute: sticky;
	top: 0;
	left: 10px;
	background: #d2faef;
	z-index: 9999999999;
	border-radius: 0 0 10px 0;
	padding: 2px;
}