@charset "UTF-8";
/**
 *	@author Merlin
 */

#aktuellerNutzerTagContainer {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 10px;
	background: #d2faef;
	z-index: 9999999999;
	border-radius: 0 0 10px 10px;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #000000e0;
	color: #fff;
}