@charset "UTF-8";
/* @author Merlin */
@import url("../standard/standardFadeIn.css");
@import url("../standard/standardFonts.css");
@import url("../standard/standardButtonLink.css");

div#noSkriptBox {
	position: fixed;
	top: 40%; 
	left: calc(50% - 175px);
	z-index: 99999;
	background-color: #ffffff;
	border-radius: 10px;
	width: 350px;
	height: auto;
	padding: 40px 40px;
	text-align: center;
}

p.cri {
	color: grey;
}

div#vorhang {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99899;
	width: 100%;
	height: 100%;
	margin: 0;
	background: #808080;
	opacity: 0.5;
}

img#noScriptPopUpImg {
	width: 200px;
	height: auto;
}