@charset "UTF-8";
/* @author Lukas */
/* Box für Anordnung */
* {
	box-sizing: border-box;
}

#flexarea {
	display: flex;
	flex-flow: row wrap;
	padding: 16px;
}

header {
	text-align: center;
}

main {
	flex: 3;
}

aside {
	flex: 1;
	background-color: rgba(225,225,225,0.5);
	box-shadow: 0 0 15px 5px #000000;
}

main, aside {
	/* border: 1px solid; */
	padding: 10px;
	margin: 10px;
}

html {
    background: linear-gradient(45deg, #FFFFFF, #C6E7DE);
    background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
}