@charset "UTF-8";
/*	@author Merlin 
 *	@source https://blog.hubspot.com/website/css-fade-in 11.06.2022 START
 */
 
 @keyframes fadeIn {
 	0% {opacity: 0;}
 	100% {opacity: 1;}
 }
 
 .fade-in {
 	animation: fadeIn 2s;
 }
 
/**
 *	@source  https://blog.hubspot.com/website/css-fade-in 11.06.2022 END
 */