@charset "UTF-8";
/* @author Merlin */
@import url("../standard/standardFadeIn.css");
@import url("../standard/standardGridView.css");
@import url("../standard/standardHintergrund.css");
@import url("../standard/standardFonts.css");
@import url("../standard/standardNavigation.css");
@import url("../standard/standardFooter.css");

body, html {
	padding: 0;
	margin: 0;
}

main {
	margin: 0;
	padding: 2% 10% 10% 10%;
}

[class*="grid"] {
	float: left;
	padding: 5px 5px;
	margin: 0;
}

h2, p {
	text-align: center;
}

button.noStandardButton {
	border: none;
	background: none;
}

.buttonImg {
	background: #000000;
	border-radius: 50%;
	width: 28px;
	height: auto;
}

.buttonImg:hover {
	transform: scale(1.5);
}

.kontaktanfrage {
	border: solid #949494;
	border-width: 2px 2px;
	margin-bottom: 10px;
}

.kontaktanfrage:hover {
	box-shadow: 0 0 10px 10px #c0c0c0;
}

.email {
	color: #686868;
	font-size: 1.5em;
}

.nachricht {
	font-size: 1.5em;
}

form {
	display: inline;
}

#postfachheaderrow, #archivheaderrow {
	padding-top: 60px;
}

button.scrollButton {
	position: fixed;
	right: 4.5%;
}

button#archivButton {
	bottom: 130px;
}

button#postfachButton {
	bottom: 165px;
}
button#goToTopButton {
	bottom: 95px;
}