@charset "UTF-8";

/* 
 * Erstellt von Lukas Theinert
 */

/* Tabelle */
table {
	margin: auto;
	width: auto;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	background-color: #000000e0;
	overflow: hidden;
}

/* Einzelne Felder (Spalte + Zeile) */
th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	text-align: center;
}

/* Gesamte Zeile */
tr:hover {
  background-color: rgba(255,255,255,0.2);
}

