/* @author Merlin */
main {
	fontfamily: Helvetica, Arial, Sans-Sereif;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	align-content: center;
	width: 90%;
	margin-right: auto;
}

.infotext:hover {
	transform: scale(1.2);
	color: green;
}

.eingabefeld input:hover {
	background-color: #ffff00;
}

button:hover {
	backgroud-color: #add8e6;
	transform: scale(1.1);
}