/*
 * Erstellt von Lukas Theinert
 */
 
/* Spielfeld */
.game{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    background-image: url(../../bilder/jumpnrun/background1.png); 
}

/* Figur */
#figur{
	border: 0px;
    width: 75px;
    height: 105px;
    position: relative;
    top: 345px;
}

/* Springen-dauer */
.animate{
    animation: jump 0.3s linear;
}

/* Springen-Animationseigenschaften */
@keyframes jump{
    0%{top: 345px;}
    30%{top: 270px;}
    70%{top: 270px;}
    100%{top: 345px;}
}

/* Ducken-dauer */
.ducken{
    animation: ducken 0.3s linear;
}

/* Ducken-Animationseigenschaften */
@keyframes ducken{
    0%{top: 345px;}
    30%{top: 420px;}
    70%{top: 420px;}
    100%{top: 345px;}
}

/* Vogel-Hindernis */
#vogel{
    background-color: blue;	
    width: 40px;
    height: 40px;
    position: relative;
    left: 885px;
    top: 260px;  
} 

/* Vogel-Animationseigenschaften */
@keyframes vogel{
    0%{left: 885px}
    100%{left: -125px}
}

/* Stein-Hindernis */
#stein{
    background-color: green;
    width: 40px;
    height: 40px;
    position: relative;
    top: 350px;
    left: 845px;   
    
} 

/* Stein-Animationseigenschaften */
@keyframes stein{
    0%{left: 845px}
    100%{left: -125px}
}

p{
    text-align: center;
}