@charset "UTF-8";

/* 
 * Erstellt von Lukas Theinert
 */

/* Hintergrund */
html {
    background: linear-gradient(325deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    background-repeat: no-repeat;
	background-attachment: fixed;    
}

/* Informationsfeld */
.informationen {
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
}

/* Spielfeldgröße - Leicht */
.spiel_bilderMemorieLeicht {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

/* Spielfeldgröße - Mittel */
.spiel_bilderMemorieMittel {
  width: 960px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

/* Spielfeldgröße - Schwer */
.spiel_bilderMemorieSchwer {
  width: 1280px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

/* Startbutton */
#start {
    background: #FFF;
    color: #282A3A;
    border-radius: 10px;
    font-size: 18pt;
}

/* Memoriekarte */
.memorieKarte {
  width: calc(150px);
  height: calc(150px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

/* Memoriekarte anklicken */
.memorieKarte:active {
  transform: scale(0.97);
  transition: transform .2s;
}

/* Memoriekarte angeklickt */
.memorieKarte.drehen {
	transform: rotateY(180deg);
}

/* Memoriekarte vorne und hinten */
.vorne,
.hinten {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #282A3A;
  backface-visibility: hidden;
}

/* Memoriekarte vorne drehen */
.vorne {
    transform: rotateY(180deg);
}

/* Spielfeld */
.spielbrett-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    visibility: hidden
}
